body {
    margin: 0;
    background-color: #F3F1ED; /* 바깥 배경색 추가 */
    font-family: Noto Sans, sans-serif;

    /* 본문 박스 관련 */
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.navbar {
    background-color: #F3F1ED;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;

    width: 100%;
    padding: 30px;       /* 패딩 조정 */
    box-sizing: border-box;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    height: 56px;
    box-sizing: border-box;
}

.navbar_logo {
    flex-shrink: 0;
}

.navbar_logo img {
    height: 55px;
    width: auto;
    display: block;
}

.navbar_menu {
    display: flex;
    gap: 0;     /* li 사이 간격 0 */
    flex: 0 0 70%;     /* 컨테이너 폭 70% */
}

/* 메뉴 칸 5분할 */
.navbar_menu li {
    flex: 1;
}

.nav_item {
    color: #83C4C7;
    font-size: 20px;
    font-weight: 900;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;        /* 칸 중앙 정렬 */

    transition: color 0.3s;
}

.nav_item:hover {
    color: #c1c1c1;
}


.navbar_icons {
    display: flex;
    gap: 20px;      /* 갭 줄임 */
}

.navbar_icons img {
    width: 25px;      /* 크기 줄임 */
    transition: filter 0.3s ease;
}

.navbar_icons a {
    display: flex; 
    justify-content: center;
    align-items: center;

    width: 41px; 
    height: 41px;
    border-radius: 100%; 

    transition: background-color 0.3s ease;
}

.navbar_icons a:hover {
    background-color: #dfddd8;
}

/* 본문 흰색 박스 */
.content_box {
  flex: 1 1 auto;
  width: 97%;
  margin: 116px auto 0 auto;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  min-height: calc(100vh - 116px);
  padding: 40px;
  background-color: white;
  box-sizing: border-box;
}